@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;700;900&display=swap");
/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*, *:before, *:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus, :active {
   outline: none;
}

a:focus, a:active {
   outline: none;
}

nav, footer, header, aside {
   display: block;
}

html, body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input, button, textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a, a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*--------------------*/
html,
body {
   font-family: "Roboto";
}

.btn {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
           box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
   border: none;
   border-radius: 4px;
   background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
   background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
   color: #ffffff;
   font-weight: 400;
   text-transform: uppercase;
   -webkit-transition: all 1s ease 0s;
   transition: all 1s ease 0s;
   z-index: 1;
}
.btn span {
   z-index: 3;
}
.btn:after {
   content: "";
   z-index: 2;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 4px;
   -webkit-transition: opacity 1s;
   transition: opacity 1s;
   opacity: 0;
   background: linear-gradient(165deg, white 43%, #00d4ff 100%);
}
.btn:hover {
   color: #000;
   -webkit-transition: all 0.5s ease 0s;
   transition: all 0.5s ease 0s;
}
.btn:hover:after {
   opacity: 1;
}

.header-block {
   position: relative;
   z-index: 2;
}
.header-block__label {
   margin: 0 auto 33px auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   font-weight: 400;
   font-size: 11px;
   line-height: 100%;
   text-transform: uppercase;
   color: #FFFFFF;
   background: #000;
   height: 24px;
   width: 112px;
   border-radius: 5px;
}
.header-block__label_white {
   background: #fff;
   color: #000;
}
@media (max-width: 575px) {
   .header-block__label {
      margin: 0px auto 20px auto;
   }
}
@media (max-width: 430px) {
   .header-block__label {
      margin: 0px auto 16px auto;
   }
}
.header-block__title {
   font-weight: 700;
   font-size: 38px;
   line-height: 126%;
   text-transform: uppercase;
   color: #222222;
   text-align: center;
   margin: 0px 0px 1px 0px;
}
.header-block__title_white {
   color: #fff;
}
@media (max-width: 992px) {
   .header-block__title {
      font-size: 32px;
      margin: 0px 0px 9px 0px;
   }
}
@media (max-width: 575px) {
   .header-block__title {
      font-size: 20px;
   }
}
@media (max-width: 400px) {
   .header-block {
      font-size: 16px;
   }
}
.header-block__subtitle {
   font-weight: 400;
   font-size: 17px;
   line-height: 123%;
   color: #222222;
   text-align: center;
}
.header-block__subtitle_white {
   color: #fff;
}
@media (max-width: 575px) {
   .header-block__subtitle {
      font-size: 14px;
   }
}

.wrapper {
   min-height: 100vh;
   overflow: hidden;
}

.header {
   position: relative;
}
.header__burger {
   display: none;
}
@media (max-width: 768px) {
   .header__burger {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      height: 25px;
      width: 30px;
   }
   .header__burger span {
      display: block;
      height: 2px;
      background: #fff;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
   }
   .header__burger span:not(:last-child) {
      margin: 0px 0px 7px 0px;
   }
   .header__burger_active span:nth-child(1) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      margin: 10px 0px 0px 0px;
   }
   .header__burger_active span:nth-child(2) {
      -webkit-transform: scale(0);
              transform: scale(0);
   }
   .header__burger_active span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      margin: -10px 0px 0px 0px;
   }
}

.header-top {
   position: fixed;
   width: 100%;
   height: 50px;
   background-color: #212121;
   z-index: 50;
}

.menu__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   padding: 18px 70px;
}
@media (max-width: 768px) {
   .menu__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 18px 5px;
      position: fixed;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.8);
      -webkit-transition: all 0.6s ease 0s;
      transition: all 0.6s ease 0s;
   }
   .menu__list_active {
      left: 0;
   }
}
@media (max-width: 575px) {
   .menu__list {
      width: 60%;
      padding: 0px 0px 0px 30px;
   }
}
.menu__item {
   position: relative;
}
.menu__item:not(:last-child) {
   padding-right: 40px;
}
@media (max-width: 1200px) {
   .menu__item:not(:last-child) {
      padding-right: 28px;
   }
}
@media (max-width: 992px) {
   .menu__item:not(:last-child) {
      padding-right: 13px;
   }
}
@media (max-width: 768px) {
   .menu__item:not(:last-child) {
      margin: 0px 0px 40px 0px;
   }
}
.menu__item:not(:last-child)::after {
   content: "";
   position: absolute;
   right: 0;
   bottom: -50%;
   height: 25px;
   border: 2px dotted #000;
}
@media (max-width: 992px) {
   .menu__item:not(:last-child)::after {
      height: 20px;
   }
}
@media (max-width: 768px) {
   .menu__item:not(:last-child)::after {
      display: none;
   }
}
.menu__link {
   display: block;
   color: #ffffff;
   font-size: 15px;
   font-weight: 300;
   -webkit-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
.menu__link:hover {
   text-decoration: underline;
   -webkit-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
@media (max-width: 1200px) {
   .menu__link {
      font-size: 13px;
   }
}
@media (max-width: 992px) {
   .menu__link {
      font-size: 10px;
   }
}
@media (max-width: 768px) {
   .menu__link {
      font-size: 20px;
   }
}

.header-bottom {
   position: absolute;
   top: 50px;
   width: 100%;
   height: 84px;
   background-color: rgba(0, 0, 0, 0.6);
   padding: 19px 0px 0px 0px;
}
.header-bottom__logo {
   display: block;
}
.header-bottom__logo img {
   max-width: 100%;
}
@media (max-width: 565px) {
   .header-bottom {
      height: 62px;
   }
}
.header-bottom__official {
   opacity: 0.5;
   color: #ffffff;
   font-size: 13px;
   display: block;
   font-weight: 400;
}
@media (max-width: 992px) {
   .header-bottom__official {
      font-size: 12px;
   }
}
@media (max-width: 768px) {
   .header-bottom__official {
      font-size: 11px;
   }
}
@media (max-width: 575px) {
   .header-bottom__official {
      display: none;
   }
}
.header-bottom__call {
   padding: 5px 0px 0px 0px;
   color: #ffffff;
   font-size: 12px;
   font-weight: 300;
   text-align: right;
}
@media (max-width: 992px) {
   .header-bottom__call {
      padding: 0;
   }
}
.header-bottom__phone {
   display: block;
   color: #ffffff;
   font-size: 22px;
   font-weight: 400;
   text-transform: uppercase;
   text-align: right;
   line-height: 150%;
}
@media (max-width: 768px) {
   .header-bottom__phone {
      font-size: 14px;
      text-align: right;
      margin: -10px 0px 5px 0px;
   }
}
@media (max-width: 575px) {
   .header-bottom__phone {
      font-size: 12px;
      margin: -10px 0px 2px 0px;
   }
}
.header-bottom__btn {
   font-size: 14px;
   width: 162px;
   height: 46px;
}
@media (max-width: 992px) {
   .header-bottom__btn {
      width: 150px;
      height: 40px;
      font-size: 13px;
   }
}
@media (max-width: 768px) {
   .header-bottom__btn {
      font-size: 11px;
      width: 110px;
      height: 30px;
      margin: 0 0 0 auto;
   }
}
@media (max-width: 575px) {
   .header-bottom__btn {
      font-size: 10px;
      height: 25px;
   }
}

@media (max-width: 768px) {
   .xs-hidden {
      display: none;
   }
}
@media (min-width: 768px) {
   .xs-visible {
      display: none;
   }
}
.footer {
   padding: 62px 0 35px;
}
.footer__row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: start;
       -ms-flex-align: start;
           align-items: start;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
}
@media (max-width: 768px) {
   .footer__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
   }
}
.footer__column {
   -webkit-box-flex: 1;
       -ms-flex: 1 1 33.333%;
           flex: 1 1 33.333%;
}
@media (max-width: 768px) {
   .footer__column:not(:last-child) {
      margin: 0px 0px 30px 0px;
   }
   .footer__column:nth-child(1) {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
   }
   .footer__column:nth-child(2) {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
   }
   .footer__column:nth-child(3) {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
   }
}
.footer__social {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.footer__link {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   background: #000;
   color: #fff;
   border-radius: 100%;
   width: 35px;
   height: 35px;
}
.footer__link:not(:last-child) {
   margin: 0px 6px 0px 0px;
}
.footer__appstore {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;
}
@media (max-width: 992px) {
   .footer__appstore {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: end;
      margin: -20px 0px 0px 0px;
   }
}
@media (max-width: 768px) {
   .footer__appstore {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin: 0;
   }
}
.footer__store:not(:last-child) {
   margin: 0px 5px 0px 0px;
}
@media (max-width: 992px) {
   .footer__store:not(:last-child) {
      margin: 0px 0px 10px 0px;
   }
}
@media (max-width: 768px) {
   .footer__store:not(:last-child) {
      margin: 0px 10px 0px 0px;
   }
}
.footer__store img {
   max-width: 100%;
}

.nav-footer {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   text-align: center;
   position: relative;
}
.nav-footer::after {
   content: "";
   position: absolute;
   background: #1FBAD6;
   height: 7px;
   width: 301px;
   top: -35px;
   left: 50%;
   -webkit-transform: translate(-50%, 0);
           transform: translate(-50%, 0);
   border-radius: 10px;
}
@media (max-width: 768px) {
   .nav-footer::after {
      width: 255px;
   }
}
.nav-footer__main {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   font-weight: 300;
   font-size: 15px;
   text-transform: uppercase;
   color: #070716;
   line-height: 100%;
   margin: 0px 0px 15px 0px;
}
.nav-footer__main a {
   color: inherit;
   padding: 0 5px;
}
@media (max-width: 992px) {
   .nav-footer__main {
      font-size: 14px;
   }
}
.nav-footer__submain {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   font-weight: 300;
   font-size: 11px;
   text-transform: uppercase;
   color: #999999;
   line-height: 100%;
   margin: 0px 0px 15px 0px;
}
.nav-footer__submain a {
   color: inherit;
   padding: 0 5px;
}
.nav-footer__submain a:not(:last-child) {
   margin: 0px 10px 7px 0px;
}
.nav-footer__lang {
   font-weight: 400;
   font-size: 12px;
   text-transform: uppercase;
   color: #1FBAD6;
}

.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}
.ibg img {
   display: none;
}

.page {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}
.page__content {
   -webkit-box-flex: 1;
       -ms-flex: 1 1 auto;
           flex: 1 1 auto;
}

.mainscreen {
   min-height: 800px;
   background: url("../img/Header/BG.jpg") center center/cover no-repeat;
   padding: 202px 0 135px 0;
}
@media (max-width: 992px) {
   .mainscreen {
      padding: 202px 0 100px 0;
   }
}
@media (max-width: 575px) {
   .mainscreen {
      padding: 147px 0 50px 0;
      min-height: 400px;
   }
}
.mainscreen__title {
   color: #ffffff;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 60px;
   line-height: 100%;
   text-align: center;
   margin: 0px 0px 15px 0px;
}
@media (max-width: 992px) {
   .mainscreen__title {
      font-size: 45px;
   }
}
@media (max-width: 575px) {
   .mainscreen__title {
      font-size: 35px;
      line-height: 130%;
   }
}
.mainscreen__subtitle {
   color: #ffffff;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 36px;
   line-height: 100%;
   text-align: center;
   margin: 0px 0px 40px 0px;
}
@media (max-width: 992px) {
   .mainscreen__subtitle {
      font-size: 30px;
   }
}
@media (max-width: 575px) {
   .mainscreen__subtitle {
      margin: 0px 0px 116px 0px;
      font-size: 21px;
      line-height: 36px;
   }
}
.mainscreen__text {
   color: #ffffff;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   text-align: center;
   margin: 0px 0px 116px 0px;
}
.mainscreen__text p:not(:last-child) {
   margin: 0px 0px 30px 0px;
}
@media (max-width: 575px) {
   .mainscreen__text {
      display: none;
   }
}
.mainscreen__btn {
   font-size: 18px;
   padding: 22.5px 24px;
   text-align: center;
   width: 259px;
   margin: 0 auto;
}

.reasons {
   padding: 20px 0px 41px 0px;
}
.reasons__header {
   margin: 0px 0px 25px 0px;
}
.reasons__column {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.reasons__column:nth-child(odd) {
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: flex-end;
}
@media (max-width: 992px) {
   .reasons__column:nth-child(odd) {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
   }
   .reasons__column:nth-child(even) {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
   }
}
@media (max-width: 768px) {
   .reasons__column:nth-child(odd) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
   }
   .reasons__column:nth-child(even) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
   }
   .reasons__column:not(:last-child) {
      margin: 0px 0px 20px 0px;
   }
}
.reasons__item {
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: start;
       -ms-flex-align: start;
           align-items: start;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: 0px 0px 26px 0px;
}
@media (max-width: 992px) {
   .reasons__item {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
   }
}

.item-reasons__icon {
   width: 116px;
   height: 116px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   background: #1EACC7;
   border-radius: 100%;
   margin: 0px 24px 0px 0px;
}
.item-reasons__icon img {
   max-width: 100%;
}
@media (max-width: 992px) {
   .item-reasons__icon {
      margin: 0px 0px 20px 0px;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
   }
}
.item-reasons__content {
   width: 343px;
}
@media (max-width: 992px) {
   .item-reasons__content {
      width: 300px;
      text-align: center;
   }
}
@media (max-width: 768px) {
   .item-reasons__content {
      width: 100%;
      text-align: left;
   }
}
.item-reasons__title {
   font-weight: 400;
   font-size: 17px;
   line-height: 123%;
   color: #1EACC7;
   margin: 0px 0px 10px 0px;
}
.item-reasons__title span {
   text-transform: uppercase;
}
.application {
   background: url("../img/Application/BG.png") 0 0/cover no-repeat;
   padding: 46px 0px 54px 0px;
}
@media (max-width: 575px) {
   .application {
      padding: 25px 0px 43px 0px;
   }
}
.application__header {
   margin: 0px 0px 30px 0px;
}
.application__column {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}
.application__item {
   position: relative;
   margin: 0px 0px 25px 0px;
   width: 320px;
   height: 280px;
   -webkit-transition: all 0.5s ease 0s;
   transition: all 0.5s ease 0s;
}
.application__item:hover {
   -webkit-transition: all 0.5s ease 0s;
   transition: all 0.5s ease 0s;
   -webkit-transform: scale(1.05);
           transform: scale(1.05);
   -webkit-box-shadow: 0px 0px 15px 5px #1EACC7;
           box-shadow: 0px 0px 15px 5px #1EACC7;
}
@media (max-width: 768px) {
   .application__item:hover {
      -webkit-transform: none;
              transform: none;
      -webkit-box-shadow: none;
              box-shadow: none;
   }
}

.item-application__image {
   background-size: contain;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.item-application__link {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   font-weight: 400;
   font-size: 24px;
   line-height: 129%;
   display: flex;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   -webkit-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
.item-application__link::after {
   content: "";
   background: url("../img/Application/icons/plus.svg") center/60% no-repeat;
   background-color: #000;
   position: absolute;
   bottom: 35px;
   left: 50%;
   -webkit-transform: translate(-50%, 0);
           transform: translate(-50%, 0);
   width: 26px;
   height: 26px;
   text-align: center;
   border-radius: 100%;
   opacity: 0;
   -webkit-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
@media (max-width: 575px) {
   .item-application__link::after {
      opacity: 1;
   }
}
.item-application__link:hover::after {
   opacity: 1;
}

.choice {
   padding: 59px 0px 120px 0px;
   background: url("../img/Choice/Black-bg.png") 0 0/100% 50% no-repeat, url("../img/Choice/Grid-bg.png") 0 50%/cover no-repeat;
}
@media (max-width: 768px) {
   .choice {
      padding: 30px 0px 80px 0px;
   }
}
@media (max-width: 575px) {
   .choice {
      background: #070716;
      padding: 30px 0px 31px 0px;
   }
}
.choice:hover .choice__image {
   -webkit-transition: all 1s ease-out 0s;
   transition: all 1s ease-out 0s;
   -webkit-transform: translate(0, 0);
           transform: translate(0, 0);
   opacity: 1;
}
.choice__header {
   margin: 0px 0px 54px 0px;
}
.choice__image {
   -webkit-transition: all 1s ease 0s;
   transition: all 1s ease 0s;
   text-align: center;
   opacity: 0;
   -webkit-transform: translate(-100%, 0);
           transform: translate(-100%, 0);
}
.choice__image img {
   max-width: 100%;
   -o-object-fit: cover;
      object-fit: cover;
   -o-object-position: center;
      object-position: center;
}
@media (max-width: 992px) {
   .choice__image {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
   }
}
.choice__text {
   font-weight: 300;
   font-size: 17px;
   line-height: 141%;
   color: #222222;
   text-align: center;
}
@media (max-width: 575px) {
   .choice__text {
      color: #fff;
      font-size: 14px;
   }
}

.conditions {
   padding: 70px 0px 29px;
}
@media (max-width: 575px) {
   .conditions {
      padding: 50px 0px 31px 0px;
   }
}
@media (max-width: 430px) {
   .conditions {
      padding: 30px 0px 0px 0px;
   }
}
.conditions__header {
   margin: 0px 0px 37px 0px;
}
@media (max-width: 575px) {
   .conditions__header {
      margin: 0px 0px 20px 0px;
   }
}
.conditions__item {
   font-weight: 300;
   font-size: 17px;
   line-height: 141%;
   color: #1CA8C3;
   margin: 0px 0px 41px 0px;
}

.item-conditions__title {
   font-weight: 400;
   font-size: 22px;
   line-height: 109%;
   color: #1CA8C3;
   margin: 0px 0px 20px 0px;
}
.item-conditions__title span {
   text-transform: uppercase;
}
.item-conditions__title_red {
   color: #FF5656;
}
@media (max-width: 575px) {
   .item-conditions__title {
      font-size: 16px;
      text-align: center;
   }
}
.item-conditions__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   padding: 0px 0px 0px 18px;
}
@media (max-width: 575px) {
   .item-conditions__list {
      padding: 0px 0px 0px 10px;
   }
}
.item-conditions__item {
   line-height: 141%;
   color: #222222;
   position: relative;
   padding: 0px 0px 0px 35px;
   margin: 0px 0px 25px 0px;
}
@media (max-width: 767px) {
   .item-conditions__item {
      padding: 0px 0px 0px 30px;
   }
}
@media (max-width: 575px) {
   .item-conditions__item {
      font-size: 14px;
   }
}
.item-conditions__item::before {
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   width: 20px;
   height: 20px;
   background: url("../img/Conditions/icons/Yes.png") 0 0/cover no-repeat;
}
.item-conditions__item:not(:last-child) {
   margin: 0px 0px 15px 0px;
}
@media (max-width: 992px) {
   .item-conditions__item:not(:last-child) {
      margin: 0px 0px 10px 0px;
   }
}
.item-conditions__item_red::before {
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   width: 21px;
   height: 20px;
   background: url("../img/Conditions/icons/No.png") 0 0/cover no-repeat;
}
@media (max-width: 575px) {
   .item-conditions__text {
      text-align: center;
      font-size: 14px;
   }
}

.aroundtheworld {
   padding: 46px 0px 46px 0px;
   background: #080816;
   -webkit-transition: all 1.5s ease 0s;
   transition: all 1.5s ease 0s;
   position: relative;
}
@media (max-width: 768px) {
   .aroundtheworld {
      padding: 23px;
   }
}
@media (max-width: 575px) {
   .aroundtheworld {
      padding: 15px;
   }
}
.aroundtheworld::after {
   position: absolute;
   content: "";
   background: url("../img/World/world_bg.png") center/cover no-repeat;
   width: 100%;
   height: 100%;
   -webkit-transition: opacity 1s;
   transition: opacity 1s;
   opacity: 1;
   top: 0;
   left: 0;
}
@media (min-width: 992px) {
   .aroundtheworld::after {
      opacity: 0;
   }
}
.aroundtheworld:hover::after {
   -webkit-transition: all 1.5s ease 0s;
   transition: all 1.5s ease 0s;
   opacity: 1;
}
@media (min-width: 992px) {
   .aroundtheworld:hover .aroundtheworld__link {
      color: #000;
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      -webkit-box-shadow: 0px 0px 10px 1px #fff;
              box-shadow: 0px 0px 10px 1px #fff;
      -webkit-transition: all 1.5s ease 1.5s;
      transition: all 1.5s ease 1.5s;
   }
}
@media (min-width: 992px) {
   .aroundtheworld:hover .aroundtheworld__link::after {
      -webkit-transition: all 1.5s ease 1.5s;
      transition: all 1.5s ease 1.5s;
      opacity: 1;
   }
}
.aroundtheworld__header {
   margin: 0px 0px 456px 0px;
}
@media (max-width: 768px) {
   .aroundtheworld__header {
      margin: 0px 0px 250px 0px;
   }
}
@media (max-width: 575px) {
   .aroundtheworld__header {
      margin: 0px 0px 200px 0px;
   }
}
.aroundtheworld__link {
   padding: 5px;
   position: relative;
   border-radius: 4px;
   z-index: 2;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   width: 223px;
   font-weight: 400;
   font-size: 15px;
   text-transform: uppercase;
   line-height: 150%;
   color: #1FBAD6;
   margin: 0 auto;
   -webkit-transition: all 1.5s ease 0s;
   transition: all 1.5s ease 0s;
}
.aroundtheworld__link span {
   position: relative;
   z-index: 3;
}
.aroundtheworld__link:after {
   content: "";
   z-index: 1;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 4px;
   -webkit-transition: opacity 1s;
   transition: opacity 1s;
   opacity: 0;
   background: #fff;
}
@media (max-width: 768px) {
   .aroundtheworld__link {
      font-size: 14px;
   }
}