@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;700;900&display=swap");
/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*, *:before, *:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus, :active {
   outline: none;
}

a:focus, a:active {
   outline: none;
}

nav, footer, header, aside {
   display: block;
}

html, body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input, button, textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a, a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*--------------------*/
html,
body {
   font-family: "Roboto";
}

.btn {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
           box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
   border: none;
   border-radius: 4px;
   background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
   background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
   color: #ffffff;
   font-weight: 400;
   text-transform: uppercase;
}

.title {
   font-weight: 700;
   font-size: 38px;
   line-height: 126%;
   text-transform: uppercase;
   color: #222222;
   text-align: center;
}

.wrapper {
   min-height: 100vh;
   overflow: hidden;
}

.header {
   position: relative;
}

.header-top {
   position: fixed;
   width: 100%;
   height: 50px;
   background-color: #212121;
   z-index: 2;
}

.menu__list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   padding: 18px 70px;
}
.menu__item {
   position: relative;
}
.menu__item:not(:last-child) {
   padding-right: 45px;
}
.menu__item:not(:last-child)::after {
   content: "";
   position: absolute;
   right: 0;
   bottom: -50%;
   height: 25px;
   border: 2px dotted #000;
}
.menu__link {
   color: #ffffff;
   font-size: 15px;
   font-weight: 300;
   padding: 5px;
}
.menu__link:hover {
   text-decoration: underline;
}

.header-bottom {
   position: absolute;
   top: 50px;
   width: 100%;
   height: 84px;
   background-color: rgba(0, 0, 0, 0.6);
   padding: 19px 0px 0px 0px;
}
.header-bottom__logo {
   display: block;
   max-width: 100%;
}
.header-bottom__official {
   opacity: 0.5;
   color: #ffffff;
   font-size: 13px;
   font-weight: 400;
}
.header-bottom__call {
   padding: 5px 0px 0px 0px;
   color: #ffffff;
   font-size: 12px;
   font-weight: 300;
   text-align: right;
}
.header-bottom__phone {
   display: block;
   color: #ffffff;
   font-size: 22px;
   font-weight: 400;
   text-transform: uppercase;
   text-align: right;
   line-height: 150%;
}
.header-bottom__btn {
   padding: 16px 0;
   font-size: 14px;
}

.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}
.ibg img {
   display: none;
}

.page {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
}
.page__content {
   -webkit-box-flex: 1;
       -ms-flex: 1 1 auto;
           flex: 1 1 auto;
}

.mainscreen {
   min-height: 800px;
   background: url("../img/Header/BG.jpg") center center/cover no-repeat;
   padding: 202px 0 135px 0;
}
.mainscreen__title {
   color: #ffffff;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 60px;
   line-height: 100%;
   text-align: center;
}
.mainscreen__subtitle {
   color: #ffffff;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 36px;
   line-height: 100%;
   margin-top: 22px;
   text-align: center;
   margin: 0px 0px 16px 0px;
}
.mainscreen__text {
   color: #ffffff;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   text-align: center;
   margin: 0px 0px 116px 0px;
}
.mainscreen__text p:not(:last-child) {
   margin: 0px 0px 30px 0px;
}
.mainscreen__btn {
   font-size: 18px;
   padding: 22.5px 24px;
   text-align: center;
   width: 259px;
   margin: 0 auto;
}

.reasons {
   padding: 20px 0px 41px 0px;
}
.reasons__label {
   margin: 0 auto 33px auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   font-weight: 400;
   font-size: 11px;
   line-height: 100%;
   text-transform: uppercase;
   color: #FFFFFF;
   background: #000;
   height: 24px;
   width: 112px;
}
.reasons__title {
   margin: 0px 0px 16px 0px;
}
.reasons__item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: 0px 0px 26px 0px;
}

.item-reasons__icon {
   width: 116px;
   height: 116px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   background: #1EACC7;
   border-radius: 100%;
   margin: 0px 24px 0px 0px;
}
.item-reasons__icon img {
   max-width: 100%;
}
.item-reasons__content {
   width: 343px;
}
.item-reasons__title {
   font-weight: 400;
   font-size: 17px;
   line-height: 123%;
   color: #1EACC7;
   margin: 0px 0px 10px 0px;
}