.footer {
	padding: 62px 0 35px;

	&__container {}

	&__row {
		display: flex;
		align-items: start;
		flex-wrap: wrap;

		@media(max-width:768px) {
			flex-direction: column;
			align-items: center;

		}
	}

	&__column {
		flex: 1 1 33.333%;

		@media(max-width:768px) {
			&:not(:last-child) {
				margin: 0px 0px 30px 0px;
			}

			&:nth-child(1) {
				order: 2;
			}

			&:nth-child(2) {
				order: 1;
			}

			&:nth-child(3) {
				order: 3;
			}
		}
	}

	&__social {
		display: flex;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #000;
		color: #fff;
		border-radius: 100%;
		width: 35px;
		height: 35px;

		&:not(:last-child) {
			margin: 0px 6px 0px 0px;
		}
	}

	&__nav {}

	&__appstore {
		display: flex;
		justify-content: flex-end;

		@media(max-width:992px) {
			flex-direction: column;
			align-items: end;
			margin: -20px 0px 0px 0px;
		}

		@media(max-width:768px) {
			flex-direction: row;
			margin: 0;
		}
	}

	&__store {
		&:not(:last-child) {
			margin: 0px 5px 0px 0px;

			@media(max-width:992px) {
				margin: 0px 0px 10px 0px;
			}

			@media(max-width:768px) {
				margin: 0px 10px 0px 0px;
			}
		}

		& img {
			max-width: 100%;
		}
	}
}

.nav-footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		background: #1FBAD6;
		height: 7px;
		width: 301px;
		top: -35px;
		left: 50%;
		transform: translate(-50%, 0);
		border-radius: 10px;

		@media(max-width:768px) {
			width: 255px;
		}
	}

	&__main {
		display: flex;
		justify-content: space-between;
		font-weight: 300;
		font-size: 15px;
		text-transform: uppercase;
		color: #070716;
		line-height: 100%;
		margin: 0px 0px 15px 0px;

		& a {
			color: inherit;
			padding: 0 5px;
		}

		@media(max-width:992px) {
			font-size: 14px;
		}
	}

	&__submain {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-weight: 300;
		font-size: 11px;
		text-transform: uppercase;
		color: #999999;
		line-height: 100%;
		margin: 0px 0px 15px 0px;

		& a {
			color: inherit;
			padding: 0 5px;

			&:not(:last-child) {
				margin: 0px 10px 7px 0px;
			}
		}
	}

	&__lang {
		font-weight: 400;
		font-size: 12px;
		text-transform: uppercase;
		color: #1FBAD6;
	}
}