//<Mixins>=================================================================================================

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;

	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;

		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	}

	@else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;

		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	}

	@else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//</Mixins>================================================================================================

//<Translation in Rem and Em and Em>=======================================================================

//Rem
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}

//Em
@function em($px) {
	$result: math.div($px, 16) + em;
	@return $result;
}

//</Translation in Rem and Em>=============================================================================

//<Fonts>==================================================================================================

//<Connect fonts>==========================================================================================

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;700;900&display=swap');

//</Connect fonts>==========================================================================================

//<Standard font>===========================================================================================

$fontfamaly: "Roboto";

//</Standard font>==========================================================================================

//</Fonts>==================================================================================================

//<Variables>===========================================================================================

$maxWidthContainer: 1070px;
$maxWidth: 200px;
//</Variables>==========================================================================================

//<Zeroing and Common parameters>===========================================================================

@import "_nullstyle";

html,
body {
	font-family: $fontfamaly;
}

.btn {}


//</Zeroing and Common Parameters>===========================================================================

//<Wrapper>==================================================================================================

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//</Wrapper>=================================================================================================

//<Main grid>================================================================================================

.container {
	max-width: $maxWidthContainer;
}

//</Main grid>===============================================================================================

//<Connecting page styles and elements>=====================================================================

@import "_header";
@import "_footer";
@import "_ibg";


//</Connecting page styles and elements>=====================================================================

//===========================================================================================================

//</Main block>==============================================================================================

//<Page>=====================================================================================================

.page {
	margin: 50px 0px 0px 0px;

	&__fullscreen {}
}

//</Page>====================================================================================================

//<Fullscreen>===============================================================================================

.fullscreen {
	position: relative;

	&__top {}

	&__container {}

	&__body {}

	&__title {}

	&__subtitle {}

	&__text {}

	&__btn {}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.top-fullscreen {

	&__container {}

	&__row {}

	&__column {}

	&__logo {}

	&__official {}

	&__call {}

	&__phone {}

	&__btn {}
}



//</Fullscreen>==============================================================================================

//</Main block>==============================================================================================

//===========================================================================================================