//<Mixins>=================================================================================================

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;

	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;

		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	}

	@else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;

		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	}

	@else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//</Mixins>================================================================================================

//<Translation in Rem and Em and Em>=======================================================================

//Rem
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}

//Em
@function em($px) {
	$result: math.div($px, 16) + em;
	@return $result;
}

//</Translation in Rem and Em>=============================================================================

//<Fonts>==================================================================================================

//<Connect fonts>==========================================================================================

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;700;900&display=swap');

//</Connect fonts>==========================================================================================

//<Standard font>===========================================================================================

$fontfamaly: "Roboto";

//</Standard font>==========================================================================================

//</Fonts>==================================================================================================

//<Variables>===========================================================================================

// $maxWidthContainer: 1100px;
// $maxWidth: 200px;

//</Variables>==========================================================================================

//<Zeroing and Common parameters>===========================================================================

@import '_nullstyle';

html,
body {
	font-family: $fontfamaly;
}

.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
	color: #ffffff;
	font-weight: 400;
	text-transform: uppercase;
	transition: all 1s ease 0s;
	z-index: 1;

	& span {
		z-index: 3;
	}

	&:after {
		content: '';

		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 4px;
		transition: opacity 1s;
		opacity: 0;
		background: linear-gradient(165deg, rgba(255, 255, 255, 1) 43%, rgba(0, 212, 255, 1) 100%);

	}

	&:hover {
		color: #000;
		transition: all 0.5s ease 0s;

		&:after {
			opacity: 1;
		}

	}
}



.header-block {
	position: relative;
	z-index: 2;

	&__label {
		margin: 0 auto 33px auto;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 400;
		font-size: 11px;
		line-height: 100%;
		text-transform: uppercase;
		color: #FFFFFF;
		background: #000;
		height: 24px;
		width: 112px;

		&_white {
			background: #fff;
			color: #000;
		}
	}



	&__title {
		font-weight: 700;
		font-size: 38px;
		line-height: 126%;
		text-transform: uppercase;
		color: #222222;
		text-align: center;
		margin: 0px 0px 1px 0px;

		&_white {
			color: #fff;
		}
	}

	&__subtitle {
		font-weight: 400;
		font-size: 17px;
		line-height: 123%;
		color: #222222;
		text-align: center;

		&_white {
			color: #fff;
		}
	}



}




//</Zeroing and Common Parameters>===========================================================================

//<Wrapper>==================================================================================================

.wrapper {
	min-height: 100vh;
	overflow: hidden;
}

//</Wrapper>=================================================================================================

//<Main grid>================================================================================================

// .container {
// 	max-width: $maxWidthContainer;
// 	margin: 0 auto;
// 	padding: 0 15px;
// }

//</Main grid>===============================================================================================

//<Connecting page styles and elements>=====================================================================

@import "_header";
@import "_footer";
@import "_ibg";


//</Connecting page styles and elements>=====================================================================

//===========================================================================================================

//</Main block>==============================================================================================

//<Page>=================================================================================================

.page {
	display: flex;
	flex-direction: column;

	&__content {
		flex: 1 1 auto;
	}
}

//</Page>=================================================================================================

//<Mainscreen>===============================================================================================

.mainscreen {
	min-height: 800px;
	background: url('../img/Header/BG.jpg') center center/cover no-repeat;
	padding: 202px 0 135px 0;

	&__container {}

	&__title {
		color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 60px;
		line-height: 100%;
		text-align: center;
	}

	&__subtitle {
		color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 36px;
		line-height: 100%;
		margin-top: 22px;
		text-align: center;
		margin: 0px 0px 16px 0px;
	}

	&__text {
		color: #ffffff;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		margin: 0px 0px 116px 0px;

		& p {
			&:not(:last-child) {
				margin: 0px 0px 30px 0px;
			}
		}


	}

	&__btn {
		font-size: 18px;
		padding: 22.5px 24px;
		text-align: center;
		width: 259px;
		margin: 0 auto;
	}
}

//</Mainscreen>==============================================================================================

//<Reason>=================================================================================================
.reasons {
	padding: 20px 0px 41px 0px;

	&__container {}

	&__header {
		margin: 0px 0px 16px 0px;
	}

	&__row {}

	&__column {
		display: flex;

		&:nth-child(odd) {
			justify-content: flex-end;

		}
	}

	&__item {
		justify-content: center;
		align-items: start;
		display: flex;
		margin: 0px 0px 26px 0px;
	}
}

.item-reasons {

	&__icon {
		width: 116px;
		height: 116px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #1EACC7;
		border-radius: 100%;
		margin: 0px 24px 0px 0px;

		& img {
			max-width: 100%;
		}
	}

	&__content {
		width: 343px;
	}

	&__title {
		font-weight: 400;
		font-size: 17px;
		line-height: 123%;
		color: #1EACC7;
		margin: 0px 0px 10px 0px;

		& span {
			text-transform: uppercase;
		}

	}

	&__text {}
}

//</Reason>=================================================================================================

//<Application>=================================================================================================

.application {
	background: url('../img/Application/BG.png') 0 0 / cover no-repeat;
	padding: 46px 0px 54px 0px;

	&__container {}

	&__header {
		margin: 0px 0px 30px 0px;
	}

	&__row {}

	&__column {
		display: flex;
		justify-content: center;
		align-items: center;


	}

	&__item {
		position: relative;
		// padding: 0px 0px 76% 0px;
		margin: 0px 0px 25px 0px;
		width: 320px;
		height: 280px;
		transition: all 0.5s ease 0s;

		&:hover {
			transition: all 0.5s ease 0s;
			transform: scale(1.050);
			box-shadow: 0px 0px 15px 5px #1EACC7;
		}

	}
}

.item-application {

	&__image {
		background-size: contain;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 400;
		font-size: 24px;
		line-height: 129%;
		display: flex;
		align-items: center;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, .7);
		transition: all 0.3s ease 0s;


		&::after {
			content: '';
			background: url('../img/Application/icons/plus.svg') center / 60% no-repeat;
			background-color: #000;
			position: absolute;
			bottom: 35px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 26px;
			height: 26px;
			text-align: center;
			border-radius: 100%;
			opacity: 0;
			transition: all 0.3s ease 0s;
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}

	}
}

//</Application>=================================================================================================

//<Choice>=================================================================================================

.choice {
	padding: 59px 0px 120px 0px;
	background: url('../img/Choice/Black-bg.png') 0 0 / 100% 50% no-repeat, url('../img/Choice/Grid-bg.png') 0 50% / cover no-repeat;

	&:hover {
		.choice__image {
			transition: all 1s ease-out 0s;
			transform: translate(0, 0);
			opacity: 1;
		}
	}

	&__container {}

	&__header {
		margin: 0px 0px 54px 0px;
	}

	&__row {}

	&__column {}

	&__image {
		transition: all 1s ease 0s;
		text-align: center;
		opacity: 0;
		transform: translate(-100%, 0);


		& img {
			max-width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__text {
		font-weight: 300;
		font-size: 17px;
		line-height: 141%;
		color: #222222;
		text-align: center;
	}
}

//</Choice>=================================================================================================

//<Conditions>=================================================================================================

.conditions {
	padding: 70px 0px 29px;

	&__container {}

	&__header {
		margin: 0px 0px 37px 0px;
	}

	&__row {}

	&__column {
		display: flex;
		align-items: start;

		&:nth-child(odd) {
			justify-content: flex-end;
		}

		&:nth-child(even) {
			justify-content: flex-start;
		}
	}

	&__item {
		font-weight: 300;
		font-size: 17px;
		line-height: 141%;
		color: #1CA8C3;
		margin: 0px 0px 41px 0px;
	}
}

.item-conditions {

	&__title {
		font-weight: 400;
		font-size: 22px;
		line-height: 109%;
		color: #1CA8C3;
		margin: 0px 0px 20px 0px;

		& span {
			text-transform: uppercase;
		}

		&_red {
			color: #FF5656;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		padding: 0px 0px 0px 18px;
		width: 549px;
	}

	&__item {
		line-height: 141%;
		color: #222222;
		position: relative;
		padding: 0px 0px 0px 40px;
		margin: 0px 0px 25px 0px;

		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			background: url('/img/Conditions/icons/Yes.png') 0 0 / cover no-repeat;
		}

		&:not(:last-child) {
			margin: 0px 0px 5px 0px;
		}


		&_red {
			&::before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 21px;
				height: 20px;
				background: url('/img/Conditions/icons/No.png') 0 0 / cover no-repeat;
			}
		}
	}

	&__text {}
}


//</Conditions>=================================================================================================

//<Aroundtheworld>==============================================================================================

.aroundtheworld {
	padding: 46px 0px 16px 0px;
	background: #080816;
	transition: all 1.5s ease 0s;
	position: relative;

	&::after {
		position: absolute;
		content: '';
		background: url('../img/World/world_bg.png') 0 0 / cover no-repeat;
		width: 100%;
		height: 100%;
		transition: opacity 1s;
		opacity: 0;
		top: 0;
		left: 0;
	}

	&:hover {

		&::after {
			transition: all 1.5s ease 0s;
			opacity: 1;
		}

		.aroundtheworld__link {
			color: #000;
			transform: scale(1.050);
			box-shadow: 0px 0px 10px 1px #fff;
			transition: all 1.5s ease 2s;


			&::after {
				transition: all 1.5s ease 2s;
				opacity: 1;
			}
		}
	}

	&__container {}

	&__header {
		margin: 0px 0px 456px 0px;
	}

	&__row {}

	&__column {}

	&__link {
		padding: 5px;
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 223px;
		font-weight: 400;
		font-size: 15px;
		text-transform: uppercase;
		line-height: 150%;
		color: #1FBAD6;
		margin: 0 auto;
		transition: all 1.5s ease 0s;

		& span {
			position: relative;
			z-index: 3;
		}

		&:after {
			content: '';
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 4px;
			transition: opacity 1s;
			opacity: 0;
			background: #fff;

		}


	}


}

//</Aroundtheworld>=============================================================================================

//</Main block>=================================================================================================

//==============================================================================================================